{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style %}
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" href="{% static 'css/includes/movie-card.css' %}">
    {% endblock %}
    <title>{%block title%}Home{% endblock %}</title>
</head>
<body>
    {% block content %}
    <div class="movie-grid">
      {% for movie in movies %}
        {% include "movies/includes/movie-card.html" %}
      {% endfor %}
    </div>
    {% endblock %}
</body>
</html>