{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style %}
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" href="{% static 'css/includes/movie-card.css' %}">
        <link rel="stylesheet" href="{% static 'css/includes/pop-up.css' %}">
    {% endblock %}
    <title>{%block title%}Home{% endblock %}</title>
</head>
<body>
  {% block content %}
    {% if messages %}
      <div id="success-popup" class="popup">
          {% for message in messages %}
              <p>{{ message }}</p>
          {% endfor %}
          <button onclick="this.parentElement.style.display='none';">Close</button>
      </div>
      <script>
          document.addEventListener('DOMContentLoaded', function() {
              const popup = document.getElementById('success-popup');
              if (popup) {
                  popup.style.display = 'block';
                  setTimeout(() => { popup.style.display = 'none'; }, 5000);
              }
          });
      </script>
    {% endif %}
    <div class="movie-grid">
      {% for movie in movies %}
        {% include "movies/includes/movie-card.html" %}
      {% endfor %}
      <div class="movie-card">
        <div class="movie-info">
          <a href="{% url 'now-in-cinema' %}" class="link-to-list">To Movie List</a>
        </div>
      </div>
    </div>
  {% endblock %}
</body>
</html>