{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/soon.css' %}">
    <link rel="stylesheet" href="{% static 'css/includes/soon-card.css' %}">
{% endblock %}
{% block title %}Coming soon{% endblock %}

{% block content %}
    <div class="title-container">
        <h1 style="font-size: 1.8em; margin-bottom: 3vh; text-align: center;">Coming soon to cinema</h1>
        <p style="font-size: 1.2em; text-align: center;">Unconfirmed release schedule</p>
    </div>
    <div class="date-and-movie-container">
        {% for date in dates %}
            <div class="row">
                    <p>{{ date|date:"d F" }}</p>
                    <div class="movie-card-cont">
                        {% for movie in movies %}
                            {% if movie.release_at == date %}
                                {% include 'movies/includes/soon-card.html' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
    </div>
{% endblock %}
