.movie-card {
    width: 18%;
    display: -webkit-box;
}

.card-link {
    text-decoration: none;
    color: #ffffff;
}

.card-link:hover {
    color: red;
}

.card-poster {
    border-radius: 6px;
    width: 100%;
    height: 90%;
}
