body {
    background-color: #1a1a1a;
    color: white;
}

.movies-container {
    background-color: #2A2727;
    width: 80%;
    min-height: 96vh;
    margin: 2vh auto 0 auto;
    padding: 4vh 4vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 3vw;
}
