{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header id="main-header">
      <button id="menuBtn">☰</button>
      <div id="sideMenu" class="side-menu">
        <button id="closeBtn">×</button>
        <a href="{% url 'home' %}">
          <img src="{% static 'images/logo.png' %}" alt="logo" class="logo-menu">
        </a>
        <ul>
          <li><a href="{% url 'now-in-cinema' %}">Now in cinema</a></li>
          <li><a href="{% url 'coming-soon' %}">Comming soon</a></li>
          <li><a href="{% url 'shop' %}" id="store-link">Buy popcorn online</a></li>
          <li><a href="#">About the theater</a></li>
        </ul>
      </div>
      <div id="overlay" class="overlay"></div>
      <a href="{% url 'home' %}">
        <img src="{% static 'images/logo.png' %}" alt="logo" class="logo-header">
      </a>
      <div id="subheader-container">
        <img src="{% static 'images/logo_imax_white.svg' %}" alt="imax" class="imax-logo">
        {% if user.is_authenticated %}
          <a href=""></a>
        {% else %}
          <a href="{% url 'test-profile' user.id %}" id="sign-in">Sign In</a>
        {% endif %}
      </div>
    </header>
    {% block content %}
    {% endblock %}
    <script src="{% static 'js/base.js' %}"></script>
</body>
</html>